*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:sans-serif;
    text-decoration: none;
 }

 .sidebar {
    position:absolute;
    margin-top: 1;
    left: 0;
    nav-left: root;
    z-index: 10;
    width: 83px;
    height: auto;
    display: flex;
    border: 1px;
    border-radius: 10px;
    flex-direction: column;
    overflow: hidden;
    background: #3aafa9;
    padding: 10px 20px;
    transition: all 0.4s ease;
}

.sidebar:hover {
    width: 240px;
}

.sidebar-links {
    list-style: none;
    margin-top: 10px;
}

.sidebar-links h4 span {
    opacity: 0;
}

.sidebar:hover .sidebar-links h4 span {
    opacity: 1;
}

.sidebar-links h4 {
    color: #17252a;
    font-weight: 500;
    margin: 10px 10 px;
    white-space: nowrap;
}

.sidebar:hover .sidebar-links .menu-separator {
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links li a {
    display:flex;
    align-items: center;
    gap: 0 20px;
    color: #17252a;
    font-weight: 500;
    padding: 15px 20px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li a:hover {
    background: rgb(171, 232, 246);
    color: #feffff;
    border-radius: 4px;
}

.content {
    text-align: center;
    padding: 40px;
    justify-content: space-between;
    padding-right: 40px;
    padding-top: 40px;
    padding-bottom: 50px;
    font-size: 30px;
    line-height: 35px;
    background: #def2f1;
    color: #17252a;
    
}

.content h3 {
    font-size: 20px;
    color: #3aafa9;
}

.content h2 {
    font-size: 30px;
    color: #17252a;
}

.content h4 {
    font-size: 25px;
    color: #236378;
}

.content h5 {
    align-items:normal;

}
.content p {
    font-size: 15px;
    color: grey;
}

.footer {
    background: #17252a;
    padding: 3px;
    text-align: center;
    color: #feffff;
    display: fixed;
 }